/* a.s. */
.homepage.layout-1 .row1 .col2 {
  /* a.s. move search box to the top on the home page */
  position: static;
  bottom: 0;
  right: 0;
}

.homepage .module-search {
  padding: 0px;
  background: transparent;
  border: 0px;
  margin: auto;
}

.homepage .module-search .module-content {
  background-color: initial;
}

.homepage .module-search .module-content .heading {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 6%;
  text-align: center;
  width: 66.666667%;
  font-weight: initial;
}

.homepage .module-search .tags {
  background-color: transparent;
}

.homepage .module-search .tags h3,
.homepage .module-search .tags .tag {
  color: #FFFFFF;
  background-color: transparent;
  border-color: #8D979D;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  font-weight: 300;
}

.homepage .module-search .tags a.tag:hover {
  background-color: #3BA6DD;
  border: 1px solid #235767;
  -webkit-box-shadow: inset 0 1px 0 #3d97b3;
  box-shadow: inset 0 1px 0 #3d97b3;
}

.homepage .container .col-search {
  margin-top: 14%;
}

.site-footer,
.account-masthead {
  background-color: #002844;
}

.masthead {
  margin-bottom: initial;
  padding: 10px 0;
  color: #000;
  background: #ffffff url("/base/images/bg.png");
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #eaeaea;
}
.masthead .nav>li>a,
.masthead .nav>li>a:focus,
.masthead .nav>li>a:hover,
.masthead .nav>.active>a,
.masthead .nav>.active>a:hover,
.masthead .nav>.active>a:focus {
  color: #133c55;
  text-shadow: none;
}

.control-label-question label:after {
    content: "?";
}

.hero .container {
  min-height: 600px;
}
.hero .container .hero-image {
  position: absolute;
  width: 100%;
  min-height: 600px;
  opacity: 0.25;
  background-image: url("../images/home/search-background-hero.png");
  background-color: transparent;
}

/* s.h. Home page layout chages */
.homepage .hero {
  background-image: initial;
  padding: 0;
  background-color: #002844;
}

.homepage [role=main] {
  padding:0;
}

.homepage .featured-organization {
  background-color: #3BA6DD;
}

.homepage .featured-organization .row1 {
  margin-top:5.5%;
}

.homepage .featured-organization .row div h2 {
  color: #F9FAFB;
  font-size: 48px;
  font-weight: initial;
  text-align: center;
}

.homepage .featured-organization .organization-item {
  clear: right;
}

.search-form .search-input button i {
  color: #3BA6DD;
  font-weight: initial;
}