/* a.s. */
.homepage.layout-1 .row1 .col2 {
  /* a.s. move search box to the top on the home page */
  position: static;
  bottom: 0;
  right: 0;
}

.homepage .module-search {
  padding: 0px;
  background: transparent;
  border: 0px;
  margin: auto;
}

.homepage .module-search .module-content {
  background-color: initial;
}

.homepage .container .col-search {
  margin-top: 16.666666667%;
}

@media (min-width: 992px) {
  .homepage [role=main] {
    padding: 0;
  }
}

.masthead {
  margin-bottom: initial;
  padding: 10px 0;
  color: #000;
  background: #ffffff url("/base/images/bg.png");
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #eaeaea;
}
.masthead .nav>li>a,
.masthead .nav>li>a:focus,
.masthead .nav>li>a:hover,
.masthead .nav>.active>a,
.masthead .nav>.active>a:hover,
.masthead .nav>.active>a:focus {
  color: #133c55;
  text-shadow: none;
}

.control-label-question label:after {
    content: "?";
}

.hero .container {
  min-height: 600px;
}
.hero .container .hero-image {
  position: absolute;
  width: 100%;
  min-height: 600px;
  opacity: 0.25;
  background-image: url("../images/home/search-background-hero.png");
  background-color: black;
}

/* s.h. Home page layout chages */
@media (min-width: 768px) {
  .hero {
    background-image: initial;
  }
}