{% extends "page.html" %}

{% block subtitle %}{{ _('Privacy Policy') }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('Editable Pages'), 'marsavin_pages.index' %}</li>
{% endblock %}

{% block page_header %}
{% endblock %}

{% block page_primary_action %}
  {% link_for _('New Page'), controller='marsavin_pages', action='new', class_='btn btn-primary', icon='plus-square' %}
{% endblock %}
{% block primary_content_inner %}
      pages index
{% endblock %}

{% block secondary_content %}
  {% snippet "pages/snippets/helper.html" %}
{% endblock %}