{% ckan_extends %}

{% block resource_actions_inner %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>
      {% link_for _('Manage'), named_route='resource.edit', id=pkg.name,
       resource_id=res.id, class_='btn btn-default', icon='wrench' %}
    </li>
    {% endif %}

    {% if res.url and h.is_url(res.url) %}
    <li>
      <div class="btn-group">
        <!-- if license NOT EQ 'Other (Not open)': show the button -->
        {% if pkg.license_title != 'Other (Not Open)': %}
          <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}"
          href="{{ res.url }}">
          {% if res.resource_type in ('listing', 'service') %}
          <i class="fa fa-eye"></i> {{ _('View') }}
          {% elif  res.resource_type == 'api' %}
          <i class="fa fa-key"></i> {{ _('API Endpoint') }}
          {% elif not res.has_views and not res.url_type == 'upload' %}
          <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
          {% else %}
          <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
          {% endif %}
          </a>
        {% endif %}
        {% block download_resource_button %}
        {%if res.datastore_active %}
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, bom=True) }}"
              target="_blank"><span>CSV</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='tsv', bom=True) }}"
              target="_blank"><span>TSV</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='json') }}"
              target="_blank"><span>JSON</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='xml') }}"
              target="_blank"><span>XML</span></a>
          </li>
        </ul>
        {%endif%} {% endblock %}
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block resource_read_title %}
    <h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>
{% endblock %}

{% block resource_read_url %}
    <!-- a.s. May 6 -->
    <!-- if license eq 'Other (Not open)': show the button instead -->
    {% if pkg.license_title == 'Other (Not Open)': %}
      {% link_for _('Request Dataset Access'), controller='request_access',
action='request_access', id=pkg.name, resource_id=res.id,
maintainer_name=pkg.maintainer, maintainer_email=pkg.maintainer_email,
resource_name=pkg.resources[0].name, class_='btn btn-primary',
icon='external-link' %}
    {% else %}
        {% if res.url and h.is_url(res.url) %}
          <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
        {% elif res.url %}
          <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
{% block resource_view_content %}
    <div class="resource-view">
      {% set resource_preview = h.resource_preview(resource, package) %}
      {% set views_created = res.has_views or resource_preview %}
      {% if views_created %}
      {% if resource_preview and not current_resource_view %}
      {{ h.resource_preview(resource, package) }}
      {% else %}
      {% for resource_view in resource_views %}
      {% if resource_view == current_resource_view %}
      {% snippet 'package/snippets/resource_view.html',
                         resource_view=resource_view,
                         resource=resource,
                         package=package
                       %}
      {% endif %}
      {% endfor %}
      {% endif %}
      {% else %}
      {# Views not created #}
      <div class="data-viewer-info">
        {% if h.check_access('resource_view_create', {'resource_id': resource.id}) %}
        <p class="text-muted">
          <i class="fa fa-info-circle"></i>
          {{ _("Not seeing the views you were expecting?")}}
          <a href="javascript:void(0);" data-toggle="collapse" data-target="#data-view-info">
            {{ _('Click here for more information.') }}</a>
        </p>
        <div id="data-view-info" class="collapse">
          <p>{{ _('Here are some reasons you may not be seeing expected views:') }}</p>
          <ul>
            <li>{{ _("No view has been created that is suitable for this resource")}}</li>
            <li>{{ _("The site administrators may not have enabled the relevant view plugins")}}</li>
            <li>
              {{ _("If a view requires the DataStore, the DataStore plugin may not be enabled, or the data may not have been pushed to the DataStore, or the DataStore hasn't finished processing the data yet")}}
            </li>
          </ul>
        </div>
        {% endif %}
      </div>
      {% endif %}
    </div>
    {% endblock %}