{% ckan_extends %}

{% block resource_actions_inner %}
    {% if h.check_access('package_update', {'id':pkg.id }) %}
    <li>
      {% link_for _('Manage'), named_route='resource.edit', id=pkg.name,
       resource_id=res.id, class_='btn btn-default', icon='wrench' %}
    </li>
    {% endif %}

    {% if res.url and h.is_url(res.url) %}
    <li>
      <div class="btn-group">
        <!-- if license NOT EQ 'Other (Not open)': show the button -->
        {% if pkg.license_title != 'Other (Not Open)': %}
          <a class="btn btn-primary resource-url-analytics resource-type-{{ res.resource_type }}"
          href="{{ res.url }}">
          {% if res.resource_type in ('listing', 'service') %}
          <i class="fa fa-eye"></i> {{ _('View') }}
          {% elif  res.resource_type == 'api' %}
          <i class="fa fa-key"></i> {{ _('API Endpoint') }}
          {% elif not res.has_views and not res.url_type == 'upload' %}
          <i class="fa fa-external-link"></i> {{ _('Go to resource') }}
          {% else %}
          <i class="fa fa-arrow-circle-o-down"></i> {{ _('Download') }}
          {% endif %}
          </a>
        {% endif %}
        {% block download_resource_button %}
        {%if res.datastore_active %}
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu">
          <li>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, bom=True) }}"
              target="_blank"><span>CSV</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='tsv', bom=True) }}"
              target="_blank"><span>TSV</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='json') }}"
              target="_blank"><span>JSON</span></a>
            <a href="{{ h.url_for(controller='ckanext.datastore.controller:DatastoreController', action='dump', resource_id=res.id, format='xml') }}"
              target="_blank"><span>XML</span></a>
          </li>
        </ul>
        {%endif%} {% endblock %}
      </div>
    </li>
    {% endif %}
{% endblock %}

{% block resource_read_title %}
    <h1 class="page-heading">{{ h.resource_display_name(res) | truncate(50) }}</h1>
{% endblock %}

{% block resource_read_url %}
    <!-- a.s. May 6 -->
    <!-- if license eq 'Other (Not open)': show the button instead -->
    {% if pkg.license_title == 'Other (Not Open)': %}
      {% link_for _('Request Dataset Access'), controller='request_access',
action='request_access', id=pkg.name, resource_id=res.id,
maintainer_name=pkg.maintainer, maintainer_email=pkg.maintainer_email,
resource_name=pkg.resources[0].name, class_='btn btn-primary',
icon='external-link' %}
    {% else %}
        {% if res.url and h.is_url(res.url) %}
          <p class="text-muted ellipsis">{{ _('URL:') }} <a class="resource-url-analytics" href="{{ res.url }}" title="{{ res.url }}">{{ res.url }}</a></p>
        {% elif res.url %}
          <p class="text-muted break-word">{{ _('URL:') }} {{ res.url }}</p>
        {% endif %}
    {% endif %}
{% endblock %}
{% block resource_view_content %}
{% endblock %}

{% block resource_additional_information_inner %}
    <div class="module-content">
        <h2>{{ _('Additional Information') }}</h2>
        <table class="table table-striped table-bordered table-condensed" data-module="table-toggle-more">
            <thead>
              <tr>
                <th scope="col">{{ _('Field') }}</th>
                <th scope="col">{{ _('Value') }}</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{ _('Data last updated') }}</th>
                <td>{{ h.render_datetime(res.last_modified) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Metadata last updated') }}</th>
                <td>{{ h.render_datetime(res.revision_timestamp) or h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Created') }}</th>
                <td>{{ h.render_datetime(res.created) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('Format') }}</th>
                <td>{{ h.render_resource_format(res.format) or _('unknown') }}</td>
              </tr>
              <tr>
                <th scope="row">{{ _('License') }}</th>
                <td>{% snippet "snippets/license.html", pkg_dict=pkg, text_only=True %}</td>
              </tr>
              {% for key, value in h.format_resource_items(res.items()) %}
                <tr class="toggle-more"><th scope="row">{{ key }}</th><td>{{ value }}</td></tr>
              {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}