{% import 'macros/form.html' as form %}

{% if page %}
{% set slug_prefix = h.url_for("marsavin_pages.edit", page=page) %}
{% else %}
{% set slug_prefix = h.url_for("marsavin_pages.index") %}
{% endif %}
<form id="pages-edit" class="dataset-form" method="post" data-module="basic-form" enctype="multipart/form-data">
    {% block error_summary %}
        {{ form.errors(error_summary) }}
    {% endblock %}

    {% set attrs = {'data-module': 'slug-preview-target', 'class': 'form-control'} %}
    {{ form.input('title', label=_('Name'), id='field-name', placeholder=_('My Page'), value=data.title, error=errors.title, classes=['control-full'], attrs=attrs) }}

    {% set domain = slug_prefix|replace("http://", "")|replace("https://", "") %}
    {% set attrs = {'data-module': 'slug-preview-slug', 'class': 'form-control input-sm', 'data-module-prefix': domain, 'data-module-placeholder': '<page>'} %}
    {{ form.prepend('name', id='field-url', label=_('URL'), prepend=slug_prefix, placeholder=_('Page URL'), value=data.name, error=errors.name, attrs=attrs, is_required=true) }}

    <div class="form-group">
        <label for="field-order" class="control-label">{{ _('Header Order') }}</label>
        <div class="controls">
            <select id="field-order" class="form-control" name="order">
                {% for option in [('', _('Not in Menu')), ('1','1'), ('2', '2'), ('3', '3') , ('4', '4')] %}
                <option value="{{ option[0] }}" {% if option[0] == data.order %}selected="selected"{% endif %}>{{ option[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    {{ form.markdown('content', id='field-content', label=_('Content'), placeholder=_('Enter content here'), value=data.content, error=errors.content) }}

    {{ form.markdown('sidebar_content', id='field-sidebar-content', label=_('Sidebar Content'), placeholder=_('Enter sidebar content here'), value=data.sidebar_content, error=errors.sidebar_content) }}

    <div class="form-actions">
        {% if not page %}
            <a class="btn pull-left" href="{{ cancel_url }}">{{ _('Cancel') }}</a>
            <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Add') }}</button>
        {% else %}

            {% block delete_button %}

                {% set locale = h.dump_json({'content': _('Are you sure you want to delete this Page?')}) %}
                <a class="btn btn-danger pull-left" href="{{ delete_url }}" data-module="confirm-action" data-module-i18n="{{ locale }}">{% block delete_button_text %}{{ _('Delete') }}{% endblock %}</a>

            {% endblock %}

            <button class="btn btn-primary" name="save" value="save" type="submit">{{ _('Save') }}</button>
        {% endif %}
    </div>
</form>