<div class="media">
  <div class="media-left">
    <img class="media-object contact-image img-responsive" src="/images/contacts/mars-logo-contact.png" alt="MaRS Discovery District">
  </div>
  <div class="media-body contact-text">
    <h1 class="media-heading">{{ _('Contact Us') }}</h1>
    <p>{% trans %}To report an issue with the site or to contribute data to the AVIN Data index, please contact us at{% endtrans %} <a href="mailto:avindata@marsdd.com">avindata@marsdd.com</a></p>
    <p>{% trans %}MaRS is committed to serving the Francophone community to the best of our ability. For information in French about the AVIN program, please send an email to the above address.{% endtrans %}</p>
  </div>
</div>