<div class="row">
  <div class="col-md-6">
    <img class="img-responsive contact-image" src="/images/contacts/mars-logo-contact.png" alt="Steve Deery">
  </div>

  <div class="col-md-6 contact-text-container">
    <div class="contact-text">
      <p>{% trans %}To report an issue with the site or to contribute data to the AVIN Data catalogue, please contact us at{% endtrans %} <a href="mailto:avindata@marsdd.com">avindata@marsdd.com</a></p>
      <p>{% trans %}(English) MaRS s'est engagé à servir la communauté francophone au meilleur de nos capacités. Pour obtenir des renseignements en français à propos du programme AVIN, veuillez envoyer un courriel à l'adresse ci-dessus.{% endtrans %}</p>
    </div>
  </div>
</div>
