{#
Renders a media item for a organization. This should be used in a list.

organization - A organization dict.

Example:

    {% set organizations = h.get_featured_organizations() %}

{% block organization_list %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>{{ _("Featured Organizations") }}</h2>
  </div>
</div>
<div class="row">
  {% block organization_list_inner %}
    {% for organization in organizations %}
      {% snippet "home/snippets/organization_item.html", organization=organization, position=loop.index, show_capacity=false %}
    {% endfor %}
  {% endblock %}
</div>
{% endblock %}
#}
{% set url = h.url_for(organization.type ~ '.read', id=organization.name) %}
{% block item %}
<div class="col-md-4">
  {% block item_inner %}
  <div class="organization-item">
    {% block link %}
    <a href="{{ url }}" title="{{ _('View {organization_name}').format(organization_name=organization.display_name) }}">
      {% block image %}
        <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}" alt="{{ organization.name }}" class="img-responsive media-image">
      {% endblock %}
    </a>
    {% endblock %}
  </div>
  {% endblock %}
</div>
{% endblock %}