<div class="module-content">
  <header>
      <h1 class="page-heading">{{ _("About AVIN Data Catalogue") }}</h1>
      <p>
        {% trans %}The Autonomous Vehicle Innovation Network (AVIN) is ensuring that Ontario continues to lead int he global automotive and transportation sector and remains a world-leading manufacturing and supply jurisdiction.  This data catalogue provides a central location for sharing relevant datasets that will support the research, development and testing of products and solutions for connected and autonomous vehicles (C/AVs){% endtrans %}
      </p>
      <div class="row">
          <div class="col-md-6 col-md-offset-8 learn-more">
              <a href="https://www.avinhub.ca" title="{{ _('About AVIN Data Catalogue') }}">{{ _("Learn more about avin") }}</a>
          </div>
      </div>
  </header>
</div>