<div class="module-content box">
  <header>

      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {{ _("<a href=\"https://avinhub.ca\">AVIN</a>'s four distinct programs focus on supporting the development and demonstration of C/AV technologies, including infrastructure, related to: commercially ready technologies for application in mass light vehicles (e.g., cars, trucks, and vans), heavy-duty vehicles (including commercial vehicles, trucks, buses, recreational vehicles (RVs) and others used for goods movement), transportation infrastructure, intelligent transportation systems (ITS) and transit-supportive systems and vehicles in Ontario.") }}
      </p>
  </header>
</div>
