<h1 class="text-center">AVIN Data Index Terms & Conditions</h1>
<h3 class="text-center mb-5">
  PLEASE READ THIS DOCUMENT CAREFULLY.<br>
  IT SIGNIFICANTLY ALTERS YOUR LEGAL RIGHTS AND REMEDIES.
</h3>

<p>This Agreement applies
    to your use of the AVIN Data Index site (the "<strong>Site</strong>"), which is currently located at <a
            href="http://www.avindata.ca">www.avindata.ca</a>, and the services described below. We suggest you print
    and save a copy of these terms for your records. If you do not accept these terms, you must not use the Site or any
    services provided pursuant to this Agreement.   
</p>
<p>The first party to this Agreement is MaRS Discovery
    District, of MaRS Centre, South Tower, 101 College Street, Suite 100, Toronto, Ontario, M5G 1L7
    ("<strong>we</strong>," "<strong>us</strong>" or "<strong>MaRS</strong>").
</p>
<p>The other party/parties is/are as
    follows:
</p>
<ol class="upper-alpha">
    <li>If you are registering your company/organization with the Site for the first time, then the other parties to
        this Agreement are your company/organization and you personally (collectively, "<strong>you</strong>"), and you
        represent and warrant to MaRS that you have the authority to enter into this Agreement on behalf of your
        company/organization.
    </li>
    <li>If your company/organization is already a registered user of the Site, then the other party to this Agreement is
        only you personally ("<strong>you</strong>").
    </li>
</ol>

<h4 class="mt-5">AGREEMENT</h4>
<p>
    For good and valuable consideration, the receipt and sufficiency of which each
    party acknowledges, the parties hereby agree as follows:
</p>
<ol>
    <li class="mb-3">
        <strong>Services and Content.</strong>  Unless your company/organization has already registered
        with the Site, you must accurately complete and submit to us a registration form on the Site before you can use any
        of the services on the Site (the "<strong>Services</strong>") or any of the hyperlinks, messages, information, data,
        text, software or images, or other content on the Site (collectively the "<strong>Site Content</strong>").
        For clarity, "Site Content" does not include Your Content. We may change the Services
        and Site Content at any time in our sole discretion. We may use third parties to provide some or all of the
        Services.  The Services may be provided using servers and other equipment located in any country including Canada,
        the United States and elsewhere.
    </li>
    <li class="mb-3">
        <strong>Account, User Name and Password.</strong>
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                Each company/organization may have only one account on the Site.
            </li>
            <li class="mb-3">
                You will select a client ID or user name by the Site. If we permit you to select your own user name, then you must not
                use a user name that is, in our sole discretion, vulgar, offensive, defamatory, obscene, hateful or otherwise
                unlawful or objectionable.  We can modify user names as we see fit.
            </li>
            <li class="mb-3">
                You must keep your password secure and confidential.
            </li>
            <li class="mb-3">
                You are the only one who may access and use your user name, password and account. 
                You must not allow anyone else to access or use your user name, password or account.  You are solely
                responsible and liable for all activity conducted through your account.  If you become aware of or reasonably
                suspect any security breach, including any loss, theft or unauthorized disclosure or use of your password, you must
                immediately report the actual or suspected security breach to us by
                emailing <a href="mailto:avindata@marsdd.com">avindata@marsdd.com</a>.
            </li>
            <li class="mb-3">
                You must log off after you use the Site and the Services.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Your Content. </strong>You may use the Site to upload hyperlinks, messages, information, data, text or images, or other
        content (collectively, "<strong>Your Content</strong>"), subject to the terms and conditions of this Agreement.
    </li>
    <li class="mb-3">
        <strong>Licence to Your Content. <u>You understand and agree that Your Content becomes
            public once you upload it to the Site.</u></strong> You hereby grant royalty-free, perpetual, world-wide, licences (the
        "<strong>Licences</strong>"): (a) to us and to our service providers to copy, modify, reformat and distribute Your
        Content, and to use the name that you provide in association with Your Content, in connection with providing the
        Services; and (b) to us and our service providers, members, users and licensees to use, communicate, share, and
        display Your Content (in whole or in part) subject to our terms and policies, as those policies are amended from
        time-to-time. User terms for the Site that apply to how visitors to the Site interact with Your Content ("<strong>User
            Terms</strong>") are available at <a href="https://avindata.ca/terms">https://avindata.ca/terms</a>. MaRS is not
        responsible for use of Your Content once you upload it to the Site.
    </li>
    <li class="mb-3">
        <strong>Your Representations and Warranties.</strong>  You represent and warrant to us that:
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                you can form a legally binding contract
            </li>
            <li class="mb-3">
                if you are an individual, you are the greater of 18 years old and of the age of majority in the jurisdiction where you reside;
            </li>
            <li class="mb-3">
                all information you provide to us under this agreement and in connection with your account opening,
                registration and purchases is and always will be complete and accurate;
            </li>
            <li class="mb-3">
                you (or one of you, if "you" includes both a company/organization and an individual): (i) own Your Content; and (ii)
                have the right to grant the licences set out in this Agreement; and
            </li>
            <li class="mb-3">
                the use, communication, sharing, display, copying, reformatting and distribution of Your Content as permitted by
                this Agreement will not violate any applicable laws, and will not infringe or violate the rights of any third party
                including but not limited to privacy, confidentiality and intellectual property.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Site Content. </strong>Your use of any of the Site Content is subject to the User Terms
        governing the use of the Site at <a href="https://avindata.ca/terms">https://avindata.ca/terms.</a>
    </li>
    <li class="mb-3">
        <strong>Rules.  </strong>Whenever you access, use or otherwise deal with the Services,
        you must comply with all applicable laws, and all acceptable-use policies and other policies implemented by us with
        respect to the Site or the Services from time-to-time, as posted on the Site.
    </li>
    <li class="mb-3">
        <strong>Your Privacy and Communications Consent.  </strong>We and our representatives may
        collect personal information about you including your name, contact information, personal preferences and other
        information.  You acknowledge that we and our representatives may use your personal information for the following
        purposes:
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                to allow us to communicate with you (including through the use of commercial electronic
                messages), manage your account with us, monitor your compliance with this Agreement, and manage any services we
                provide to you or other Site users,
            </li>
            <li class="mb-3">
                if you check the applicable box(es) in the registration form, to
                provide you with electronic communications including without limitation our newsletter and with information about
                our services and services and/or offers provided by third party collaborators and sponsors,
            </li>
            <li class="mb-3">
                to customize the advertising and content that is presented to you on the Site,
            </li>
            <li class="mb-3">
                to contact you regarding Your Content,
            </li>
            <li class="mb-3">
                to verify your personal information, and
            </li>
            <li class="mb-3">
                as described in our Privacy Policy, which is currently available at <a href="https://marsdd.com/privacy/">https://marsdd.com/privacy/</a>.
            </li>
        </ol>
        <p>
            We may disclose your personal information electronically or in writing to our delivery and other service providers,
            including to service providers located in the United States and other jurisdictions outside of Canada who may be
            subject to applicable disclosure laws in those jurisdictions. You may contact our Privacy Officer (whose
            contact information is provided in our <a href="https://marsdd.com/privacy/">Privacy Policy</a>) to obtain information
            about our policies and practices regarding our use of service providers outside of Canada, or to ask questions
            about the collection, use, disclosure or storage of personal information by our off-shore service providers. 
        </p>
        <p>
            We may use aggregate, non-identifiable information about the Site members for reporting, promotional and advertising purposes including
            sharing such information with third parties. If we suspect you of fraudulent or other prohibited activities, or we
            are otherwise required to do so by law, we may disclose your personal information to the police or other
            authorities.  We will not otherwise disclose your personal information except as permitted or required by law or our
            Privacy Policy. 
        </p>
        <p>
            YOU HEREBY CONSENT TO US AND OUR REPRESENTATIVES COLLECTING, USING AND DISCLOSING YOUR
            PERSONAL INFORMATION, AND SENDING COMMERCIAL ELECTRONIC MESSAGES TO YOU, IN THE MANNER DESCRIBED ABOVE.
        </p>
    </li>
    <li class="mb-3">
        <strong>Ownership.</strong>  As between you and MaRS, MaRS or third parties solely own the following (the "<strong>MaRS Property</strong>"):
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                all Site Content and all intellectual property rights in the Site Content;  and
            </li>
            <li class="mb-3">
                all tools, hardware and software used to provide the Services (collectively, the "<strong>MaRS Tools</strong>");
            </li>
            <li class="mb-3">
                the graphical design of the Site, the Site user interface and the look and feel of the Site and the Site user interface;  and
            </li>
            <li class="mb-3">
                the names, logos and trade-marks of MaRS on the Site.
            </li>
        </ol>
        <p>
            You must not copy, modify, distribute, use, exploit or make derivative works from any of the MaRS Property except as explicitly permitted by us. 
        </p>
    </li>
    <li class="mb-3">
        <strong>Use of the Services and Site.</strong>  You must not:
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                reverse engineer, de-compile, hack, disable, disrupt, interfere with,
                disassemble, copy, decrypt, reassemble, supplement, translate, adapt or
                enhance any of the MaRS Property or the Services;
            </li>
            <li class="mb-3">
                create a link, name or label, or otherwise upload to or transmit from the Site or the Services
                any content, link or anything else that (if reproduced, published, transmitted or used) may:
                <ol class="list-round-bracket-surround-roman-lower">
                    <li class="mb-3">
                        be defamatory, threatening, abusive, harassing, hateful, obscene, pornographic,
                        harmful or invasive of anyone's privacy, or excessively violent,
                    </li>
                    <li class="mb-3">
                        violate any law including intellectual property, privacy or other laws;
                    </li>
                    <li class="mb-3">
                        impersonate any person;
                    </li>
                    <li class="mb-3">
                        give rise to civil or other liability; or
                    </li>
                    <li class="mb-3">
                        relate to illegal drugs, weapons, gambling or other illegal activities;
                    </li>
                </ol>
            </li>
            <li class="mb-3">
                upload to or transmit from the Site or the Services any data, file, software or link that contains
                or redirects to a virus, Trojan horse, worm or other harmful component;
            </li>
            <li class="mb-3">
                use the Site or the Services to do or attempt to do any of the following without MaRS's prior written permission:
                <ol class="list-round-bracket-surround-roman-lower">
                    <li class="mb-3">
                        send spam or other bulk messages;
                    </li>
                    <li class="mb-3">
                        gain unauthorized access to any data, network or system;
                    </li>
                    <li class="mb-3">
                        conduct or promote any commercial activity;
                    </li>
                    <li class="mb-3">
                        gamble;
                    </li>
                    <li class="mb-3">
                        refer to any competitor of MaRS or any service that is similar to or competitive with the Site;
                    </li>
                    <li class="mb-3">
                        monitor data or traffic on any network or system;
                    </li>
                    <li class="mb-3">
                        obtain an email address, user name or other information about a third party without their consent;
                    </li>
                    <li class="mb-3">
                        use any misleading, false or deceptive TCP/IP header information in any email or posting;  or
                    </li>
                    <li class="mb-3">
                        conduct or instigate any denial of service attack against MaRS's website or network, or any third party's website or network;
                    </li>
                </ol>
            </li>
            <li class="mb-3">
                improperly make complaints or false reports on the Site;
            </li>
            <li class="mb-3">
                artificially inflate or alter ratings, views or statistics on the Site;
            </li>
            <li class="mb-3">
                falsify any data or information available on the Site;
            </li>
            <li class="mb-3">
                delete or modify any copyright or other intellectual property notices on the Site;
            </li>
            <li class="mb-3">
                sell or transfer your Site account, or allow any third party to access or use it;
            </li>
            <li class="mb-3">
                avoid, circumvent, or disable any access control technology, security device, procedure, protocol, or technological
                protection mechanism that may be included or established in or as part of any of the Site or the Services or any
                hardware/software used to provide the Site or the Services, or third party hardware/software or services;
            </li>
            <li class="mb-3">
                interfere with the Services or any third party's use of the Site or the Services;
            </li>
            <li class="mb-3">
                resell any of the Services or MaRS Property; or
            </li>
            <li class="mb-3">
                authorize or encourage any third party to do any of the above.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Remedies.  </strong>In addition to any other available remedies, upon breach of any of your obligations
        under this Agreement we may suspend or terminate the Services and your the Site account.
    </li>
    <li class="mb-3">
        <strong>Advertising. </strong>Some of the Services may contain advertisements and promotions which may be
        targeted to you based on your use of the Site and the Services. The format, type and content of the advertising
        and promotions may change from time to time. You must exercise caution when purchasing goods or services from
        any third party advertiser or brand that may be promoted on or linked to the Site.
    </li>
    <li class="mb-3">
        <strong>Your Responsibilities.  </strong>You are solely responsible for obtaining all computer equipment and
        connections required to access and use the Services.  MaRS will not be responsible for the workings or
        failures of your computer equipment, network, software or Internet access.
    </li>
    <li class="mb-3">
        <strong>Interruptions/Errors.</strong>  Your use of the Site and the Services might be interrupted and will not be
        free of errors.  Some of the content on the Site might be translated, and those translations may
        not be accurate or appropriate.  The Services may be unavailable from time-to-time due to routine maintenance,
        upgrades, hardware/software malfunctions, repairs, power outages, hackers, denial of service attacks and
        unforeseeably large service demands.
    </li>
    <li class="mb-3">
        <strong>Modifications.</strong>  From time to time, MaRS may add new features to the Site and the Services,
        remove existing features from the Site and the Services, or otherwise modify the Site and the Services
        (including their functionality, "look-and-feel", universal resource locators and software components).
    </li>
    <li class="mb-3">
        <strong>Inactive and Abandoned Accounts.</strong>  We may, in our sole discretion, suspend or terminate your
        account and membership if it becomes inactive as determined in MaRS' sole discretion.
    </li>
    <li class="mb-3">
        <strong>Termination.  </strong>Without prejudice to any of our rights at law or equity, MaRS may terminate your
        access to the Site and the Services with no prior notice if you fail to comply with any obligation in this
        Agreement, or if any of your representations or warranties is or becomes untrue. MaRS may also terminate or suspend
        any or all of the Services at any time without prior notice.
    </li>
    <li class="mb-3">
        <strong>Termination by you. </strong> You may terminate your Site account at any time. To do so, log into your
        account, go to the Settings page, click the Delete button and follow the on-screen instructions.  Termination
        of your account is your only remedy with respect to any dispute with the Site, including disputes relating to
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                this agreement or our enforcement of it;
            </li>
            <li class="mb-3">
                the Site, the Site Content, the MaRS Tools or the Services; and
            </li>
            <li class="mb-3">
                any fees in connection with the Site or the Services.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Effect of Termination.</strong>  Upon termination of your account or this agreement:
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                you will immediately cease all use of the Site, the Site Content, the MaRS Tools and the Services;
            </li>
            <li class="mb-3">
                you will have no further access to your account or anything associated with it;
            </li>
            <li class="mb-3">
                you will not receive any refunds for fees you paid, if any, under this agreement;
            </li>
            <li class="mb-3">
                you will immediately pay MaRS all amounts owing, if any, under this agreement;  and
            </li>
            <li class="mb-3">
                sections 4, 5, 8, 9, 19, 22 - 25, and 27 - 29 will survive termination.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Links from the Site.  </strong>The sites that are linked from the Site are not
        under our control, and we do not assume any responsibility or liability for any communications or materials
        available at those linked sites, or personal information collected about you from those sites.  You may be charged
        fees to access or use the linked sites;  these fees are not covered by any fees you pay to MaRS.  All links are
        provided for your convenience only;  they are not an endorsement or referral by us.
    </li>
    <li class="mb-3">
        <strong>Links to the Site.  </strong>You must not link to the Site or any content on the Site except as
        explicitly permitted by this section, our User Terms or our policies.  Your permission to link to the Site
        is expressly conditioned upon your compliance with the following restrictions:
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-3">
                link must resolve to the Site homepage;
            </li>
            <li class="mb-3">
                the link must comply with the Site's other policies regarding content;
            </li>
            <li class="mb-3">
                the link and surrounding materials must not deliver any the Site Content in a framed environment, or
                alter the layout, content, look, or feel of the Site Content;
            </li>
            <li class="mb-3">
                the link and surrounding materials must not imply affiliation or falsely represent any relationship
                between the linking site and the Site;  and
            </li>
            <li class="mb-3">
                the link and surrounding materials must not portray the Site, MaRS or the services provided hereunder
                or by MaRS in a false, misleading, derogatory, defamatory or otherwise offensive manner.
                <br />
                <br />
                The use of the Site and this Agreement does not give you any right to use the MaRS name(s), trade-marks,
                logos or other intellectual property.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Disclaimer.</strong>   EXCEPT AS OTHERWISE REQUIRED BY LAW, the Site, THE Site Content, THE MaRS Tools,
        THE PRODUCTS AND THE Services ARE PROVIDED "AS IS" AND "AS AVAILABLE". MUCH OR ALL OF THE SITE CONTENT HAS BEEN
        PROVIDED BY THIRD PARTIES OVER WHOM MARS HAS NO CONTROL. MaRS DISCLAIMS all TERMS, conditions, GUARANTEES,
        representations and warranties (express, implied, statutory AND otherwise), in respect OF the Site, THE
        Site Content, THE MaRS Tools, THE PRODUCTS AND THE Services, including THOSE of merchantability, NON-INFRINGEMENT,
        title, quality, PERFORMANCE, AVAILABILITY And fitness for a particular purpose.
    </li>
    <li class="mb-3">
        <strong>Limitation of Liability.</strong>  YOU USE the Site, THE Site Content, THE MaRS Tools, THE PRODUCTS
        AND THE Services AT YOUR OWN RISK.  EXCEPT AS REQUIRED BY LAW, MaRS WILL NOT BE LIABLE FOR ANY LOSS IN
        CONNECTION TO THE USE OF, OR INABILITY TO USE, the Site, THE Site Content, THE MaRS Tools, THE PRODUCTS AND
        THE Services.  TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, AND WITHOUT LIMITING THE PREVIOUS SENTENCE, MaRS
        AND SITE CONTENT PROVIDERS WILL NOT BE LIABLE FOR ANY INDIRECT, CONSEQUENTIAL, INCIDENTAL, SPECIAL, PUNITIVE OR
        EXEMPLARY DAMAGES WHATSOEVER IN CONNECTION WITH the Site, THE Site Content, THE MaRS Tools, THE PRODUCTS OR THE
        Services.
    </li>
    <li class="mb-3">
        <strong>Maximum Liability.  </strong>IF, DESPITE THE ABOVE LIMITATIONS, MaRS BECOMES LIABLE TO YOU IN RESPECT
        OF the Site, THE Site Content, THE MaRS Tools, THE PRODUCTS OR THE Services, OR A COMBINATION OF THE FOREGOING,
        THAT LIABILITY WILL BE LIMITED TO CDN$100, EXCEPT AS OTHERWISE REQUIRED BY LAW.
    </li>
    <li class="mb-3">
        <strong>Indemnity.</strong>   YOU WILL INDEMNIFY MaRS, ITS RELATED ENTITIES AND EACH OF THEIR RESPECTIVE,
        OFFICERS, DIRECTORS, SHAREHOLDERS, EMPLOYEES, REPRESENTATIVES, LICENSORS AND LICENSEES (COLLECTIVELY,
        THE "<strong>INDEMNITEES</strong>") AND HOLD THE INDEMNITEES HARMLESS FROM AND AGAINST ALL DAMAGES, INJURIES,
        LIABILITIES, COSTS, EXPENSES AND LEGAL FEES THAT ANY OF THEM MAY INCUR IN CONNECTION WITH:
        <ol class="list-round-bracket-surround-alpha-upper">
            <li class="mb-3">
                YOUR CONTENT;
            </li>
            <li class="mb-3">
                YOUR USE OF the Site, THE Site Content, THE MaRS Tools, THE PRODUCTS OR THE Services;
            </li>
            <li class="mb-3">
                THE UNTRUTHFULNESS OR INACCURACY OF ANY OF YOUR REPRESENTATIONS OR WARRANTIES TO US;  AND/OR
            </li>
            <li class="mb-3">
                YOUR BREACH OF ANY OBLIGATION, REPRESENTATION OR WARRANTY IN THIS AGREEMENT.
            </li>
        </ol>
    </li>
    <li class="mb-3">
        <strong>Modifications to this Agreement.  </strong>From time to time in our sole discretion we may modify the
        terms of this Agreement by posting the modifications on the Site.  You will be bound by the modified terms after
        the modified terms have been emailed to you or have been posted on the Site for 30 days.  If any change
        is not acceptable to you, your only recourse is to terminate your account.
    </li>
    <li class="mb-3">
        <strong>Governing law.</strong>  This Agreement will be governed by the laws in effect in Ontario, Canada. 
        You attorn to the exclusive jurisdiction of the Ontario courts;  however, you or MaRS may apply to
        a court of competent jurisdiction for interim protection or equitable relief such as an injunction.
    </li>
    <li class="mb-3">
        <strong>Language.</strong>  The parties have expressly agreed that this agreement and all ancillary agreements,
        documents or notices relating thereto be drafted solely in the English language.  Les parties aux présentes ont
        expressément convenu que ce accord et toute autre convention, document ou avis y afférent soient rédigés en anglais seulement.
    </li>
    <li class="mb-3">
        <strong>General.</strong>  No delay or failure to act by us regarding any default will impair any of our rights
        or remedies that are not expressly waived in writing.  This Agreement supersedes all prior agreements of the
        parties regarding the Site, the Site Content, the MaRS Tools, Your Content, and the products and the services
        provided hereunder, and constitutes the whole agreement with respect to the same.  You must not assign or
        sublicense this Agreement or any of your rights under this Agreement without our prior written consent, which
        may be withheld without cause.  We may assign or sublicense this Agreement and any or all of our rights and
        obligations under it in our sole discretion.  This Agreement will enure to the benefit of and be binding upon
        the parties and their lawful successors and permitted assigns.  We will not be liable for any delay or
        damage caused as a result of any event beyond its reasonable control;  any delay caused by any such event will not
        be deemed to be a breach of or failure to perform this Agreement.  In the event that any portion of this Agreement
        is deemed unenforceable by a court of competent jurisdiction, such portion shall be modified only to the extent
        deemed unenforceable and all other provisions shall remain legally binding and in full force and effect.
    </li>
</ol>

<p>
    <strong>BY CLICKING ON THE FOLLOWING "I ACCEPT THE TERMS AND CONDITIONS" BUTTON, YOU ACKNOWLEDGE
    THAT YOU HAVE READ AND UNDERSTOOD THIS AGREEMENT AND AGREE TO BE BOUND BY IT.</strong>
</p>