<h1 class="text-center">AVIN DATA INDEX SITE ACCOUNT/UPLOAD AGREEMENT</h1>

<h3 class="text-center mb-5">PLEASE READ THIS DOCUMENT CAREFULLY.IT SIGNIFICANTLY ALTERS YOUR LEGAL RIGHTS AND REMEDIES.</h3>

<p>
    This  Agreement  applies  to  your  use  of  the AVIN Data Index site (the "<strong>Site</strong>"),
    which is currently located at <a href="https://avindata.ca/">www.avindata.ca</a>, and the services described below.
    We suggest you print and save a copy of these terms for your records.  If you do not accept these terms,
    you must not use the Site or any services provided pursuant to this Agreement.
</p>

<p>
    The first party to this Agreement is MaRS Discovery District, of MaRS Centre, South Tower, 
    101 College Street, Suite 100, Toronto, Ontario, M5G 1L7 ("<strong>we</strong>," "<strong>us</strong>" or
    "<strong>MaRS</strong>").
</p>

<p>
    The other party/parties is/are as follows:
</p>
<ol class="upper-alpha">
    <li>
        If you are registering your company/organization  with  the  Site for the first time, then the other  parties
        to this Agreement are your company/organization  and  you  personally (collectively, "<strong>you</strong>"),
        and you represent and warrant to MaRS that you have the authority to enter into this Agreement on behalf
        of your company/organization.
    </li>
    <li>
        If your company/organization is already a registered user of the Site, then the other party to this
        Agreement is only you personally ("<strong>you</strong>").
    </li>
</ol>

<h4 class="mt-5">AGREEMENT</h4>
<p>
    For good and valuable consideration, the receipt and sufficiency of which each party acknowledges,
    the parties hereby agree as follows:
</p>

<ol>
    <li class="mb-5">
        <strong>Services  and  Content.</strong> Unless your company/organization has already registered with the Site, 
        you must accurately complete and submit to us a registration form on the Site before you can use any of 
        the services on the Site (the "<strong>Services</strong>") or any of the hyperlinks, messages, information,
        data, text, software or images, or other content on the Site (collectively the "<strong>Site Content</strong>").
        For clarity, "Site Content" does not include Your Content. We may change the Services and Site Content
        at any time in our sole discretion.  We may use third parties to provide some or all of the Services.
        The Services may be provided using servers and other equipment located in any country including Canada,
        the United States and elsewhere.
    </li>
    <li class="mb-5">
        <strong>Account, User Name and Password.</strong>
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-5">
                Each company/organization may have only one account on the Site.
            </li>
            <li class="mb-5">
                You will select a client ID or user name by the Site.  If we permit you to select your own user name,
                then you must not use a user name that is, in our sole discretion, vulgar, offensive, defamatory,
                obscene, hateful or otherwise unlawful or objectionable.  We can modify user names as we see fit.
            </li>
            <li class="mb-5">
                You must keep your password secure and confidential.
            </li>
            <li class="mb-5">
                You are the only one who may access and use your user name, password and account.  You must not allow
                anyone else  to  access  or  use  your  user  name, password  or  account.  You are solely responsible
                and liable for all activity conducted through your account.  If you become aware of or reasonably
                suspect any security breach, including any loss, theft or unauthorized disclosure or use of your
                password, you must immediately report the actual or suspected security breach to us by
                emailing <a href="mailto:avindata@marsdd.com">avindata@marsdd.com</a>.
            </li>
            <li class="mb-5">
                You must log off after you use the Site and the Services.
            </li>
        </ol>
    </li>
    <li class="mb-5">
        <strong>Your Content.</strong>  You may use the Site to upload hyperlinks, messages, information, data, text
        or  images, or other content (collectively, "<strong>Your Content</strong>"), subject to the terms and
        conditions of this Agreement.
    </li>
    <li class="mb-5">
        <strong>Licence to Your Content.  You understand and agree that Your Content becomes public once you upload
        it to the Site.</strong>  You hereby grant royalty-free, perpetual, world-wide, licences
        (the "<strong>Licences</strong>"): (a) to us and to our service providers to copy, modify, reformat and
        distribute Your Content, and to use the name that you provide in association with Your Content, in connection
        with providing the Services; and (b) to us and our service providers, members, users and licensees to use,
        communicate, share, and  display  Your Content  (in  whole  or  in  part)  subject  to  our terms  and
        policies, as those policies are amended from time-to-time.  User terms for the Site that apply to how visitors
        to the Site interact  with  Your  Content ("<strong>User Terms</strong>") are available at
        <a href="{{ h.url_for('marsavin.terms') }}">https://avindata.ca/terms</a>.  MaRS is not responsible for use of
        Your Content once you upload it to the Site.
    </li>
    <li class="mb-5">
        <p><strong>Your Representations and Warranties.</strong>  You represent and warrant to us that:</p>
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-5">
                you can form a legally binding contract
            </li>
            <li class="mb-5">
                if you are an individual, you are the greater of 18 years old and of the age of majority in
                the jurisdiction where you reside;
            </li>
            <li class="mb-5">
                all information you provide to us under this agreement and in connection with your account opening,
                registration and purchases is and always will be complete and accurate;
            </li>
            <li class="mb-5">
                you (or one of you, if "you" includes both a company/organization and an individual): (i) own
                Your Content; and (ii) have the right to grant the licences set out in this Agreement; and
            </li>
            <li class="mb-5">
                the use, communication, sharing, display, copying, reformatting and distribution of Your Content as
                permitted by this Agreement will not violate any applicable laws, and will not infringe or violate
                the rights of any third party including but not limited to privacy, confidentiality and
                intellectual property.
            </li>
        </ol>
    </li>
    <li class="mb-5">
        <strong>Site Content.</strong>  Your use of any of the Site Content is subject to the User Terms governing
        the use of the Site at <a href="{{ h.url_for('marsavin.terms') }}">https://avindata.ca/terms</a>.
    </li>
    <li class="mb-5">
        <strong>Rules.</strong>  Whenever you access, use or otherwise deal with the Services, you must comply with
        all applicable laws, and all acceptable-use policies and other policies implemented by us with respect to
        the Site or the Services from time-to-time, as posted on the Site.
    </li>
    <li class="mb-5">
        <p>
            <strong>Your Privacy and Communications Consent.</strong>  We and our representatives may collect personal
            information about you including your name, contact information, personal preferences and other information.
            You acknowledge that we and our representatives may use your personal information for the following purposes:
        </p>
        <ol class="list-round-bracket-surround-alpha-lower">
            <li class="mb-5">
                to allow us to communicate with you (including through the use of commercial electronic messages),
                manage your account with us, monitor your compliance with this Agreement, and manage any services we
                provide to  you  or other Site users,
            </li>
            <li class="mb-5">
                if you check the applicable box(es) in the registration form, to provide you with electronic
                communications including without limitation our newsletter and with information about our services
                and services and/or offers provided by third party collaborators and sponsors,
            </li>
            <li class="mb-5">
                to customize the advertising and content that is presented to you on the Site,
            </li>
            <li class="mb-5">
                to contact you regarding Your Content,
            </li>
            <li class="mb-5">
                to verify your personal information, and
            </li>
            <li class="mb-5">
                as described in our Privacy Policy, which is currently available at
                <a href="{{ h.url_for('marsavin.privacy') }}">https://marsdd.com/privacy/</a>.
            </li>
        </ol>
        <p>
            We may disclose your personal information electronically or in writing to our delivery and other service
            providers, including to service providers located in the United States and other jurisdictions outside
            of Canada who may be subject to applicable disclosure laws in those jurisdictions.  You may contact our
            Privacy Officer (whose contact information is provided in our
            <a href="{{ h.url_for('marsavin.privacy') }}">Privacy Policy</a>) to obtain information about our policies
            and practices regarding our use of service providers outside of Canada, or to ask questions about
            the collection, use, disclosure or storage of personal information by our off-shore service providers.
        </p>
        <p>
            We may use aggregate, non-identifiable information about the Site members for reporting, promotional and
            advertising purposes including sharing such information with third parties. If we suspect you of fraudulent
            or other prohibited activities, or we are otherwise required to do so by law, we may disclose your personal
            information to the police or other authorities.  We will not otherwise disclose your personal information
            except as permitted or required by law or our Privacy Policy.
        </p>
        <p>
            YOU HEREBY CONSENT TO US AND OUR REPRESENTATIVES COLLECTING, USING AND DISCLOSING YOUR PERSONAL INFORMATION,
            AND SENDING COMMERCIAL ELECTRONIC MESSAGES TO YOU, IN THE MANNER DESCRIBED ABOVE.
        </p>
    </li>

</ol>