{% ckan_extends %}


{% block header_site_search %}
<div class="section header-search">
    <a class="btn btn-search" href="{{ h.url_for('dataset.search') }}" title="{{ _('Search Datasets') }}">
        <i class="fa fa-search"></i>
    </a>
</div>
{% if c.userobj %}
<div class="section header-user-account dropdown">
  <button class="btn btn-profile dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{ h.gravatar((c.userobj.email_hash if c and c.userobj else ''), size=22) }}
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li>
      <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Edit settings') }}">
        <i class="fa fa-cog" aria-hidden="true"></i>
        <span class="text">{{ _('Settings') }}</span>
      </a>
    </li>
    <li>
      <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
        <i class="fa fa-user" aria-hidden="true"></i>
        <span class="username">{{ _('View  Profile') }}</span>
      </a>
    </li>
    {% if c.userobj.sysadmin %}
    <li role="separator" class="divider"></li>
    <li>
      <a href="{{ h.url_for(controller='admin', action='index') }}" title="{{ _('Sysadmin settings') }}">
        <i class="fa fa-gavel" aria-hidden="true"></i>
        <span class="text">{{ _('Admin') }}</span>
      </a>
    </li>
    {% endif %}
    <li role="separator" class="divider"></li>
    <li>
      <a href="{{ h.url_for('/user/_logout') }}" title="{{ _('Log out') }}">
        <i class="fa fa-sign-out" aria-hidden="true"></i>
        <span class="text">{{ _('Log out') }}</span>
      </a>
    </li>
  </ul>
</div>
{% else %}
<div class="section header-user-account">
  <a href="{{ h.url_for(controller='user', action='login') }}" title="{{ _('Log in') }}" class="btn btn-primary">{{ _('Log in') }}</a>
</div>
{% endif %}
{% endblock %}