{% set current_lang = request.environ.CKAN_LANG %}
{% set available_locales = h.get_locales_dict() %}
<div class="btn-group">
  <button type="button" class="btn btn-default btn-lang dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <i class="fa fa-globe"></i> {{ available_locales[current_lang].display_name or available_locales[current_lang].english_name }} <span class="caret"></span>
  </button>
  <ul class="dropdown-menu">
    {% for lang in available_locales %}
      <li><a href="{% url_for h.current_url(), locale=lang %}">{{ available_locales[lang].display_name or available_locales[lang].english_name }}</a></li>
    {% endfor %}
  </ul>
</div>
