{% ckan_extends %}

{% block package_additional_info %}
    {{ super() }}
    {# a.s. new fields #}
    {% if pkg_dict.associated_tasks %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Associated Tasks') }}</th>
          <td class="dataset-details">{{ pkg_dict.associated_tasks }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.collection_period %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Collection Period') }}</th>
          <td class="dataset-details">{{ pkg_dict.collection_period }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.geographical_area %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Geographical Area') }}</th>
          <td class="dataset-details">{{ pkg_dict.geographical_area }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.number_of_instances %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Number of Instances') }}</th>
          <td class="dataset-details">{{ pkg_dict.number_of_instances }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.pkg_description %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Package Description') }}</th>
          <td class="dataset-details">{{ pkg_dict.pkg_description }}</td>
      </tr>
    {% endif %}
    {# a.s. /new fields #}

    {# s.h. additional fields #}
    {% if pkg_dict.number_of_attributes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Number of Attributes') }}</th>
          <td class="dataset-details">{{ pkg_dict.number_of_attributes }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.creation_date %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Creation Date') }}</th>
          <td class="dataset-details">{{ pkg_dict.creation_date }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.expiry_date %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Expiry Date') }}</th>
          <td class="dataset-details">{{ pkg_dict.expiry_date }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.has_missing_values != '' %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Does it have missing values') }}</th>
          <td class="dataset-details">{{ pkg_dict.has_missing_values }}</td>
      </tr>
    {% endif %}
    {# s.h. /additional fields #}
{% endblock %}