{% ckan_extends %}

{% block package_additional_info %}
    {% if pkg_dict.url %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Source') }}</th>
            {% if h.is_url(pkg_dict.url) %}
              <td class="dataset-details" property="foaf:homepage">{{ h.link_to(pkg_dict.url, pkg_dict.url, rel='foaf:homepage', target='_blank') }}</td>
            {% else %}
              <td class="dataset-details" property="foaf:homepage">{{ pkg_dict.url }}</td>
            {% endif %}
          </tr>
        {% endif %}

        {% if pkg_dict.author_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ h.mail_to(email_address=pkg_dict.author_email, name=pkg_dict.author) }}</td>
          </tr>
        {% elif pkg_dict.author %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Author") }}</th>
            <td class="dataset-details" property="dc:creator">{{ pkg_dict.author }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.maintainer_email %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ h.mail_to(email_address=pkg_dict.maintainer_email, name=pkg_dict.maintainer) }}</td>
          </tr>
        {% elif pkg_dict.maintainer %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Maintainer') }}</th>
            <td class="dataset-details" property="dc:contributor">{{ pkg_dict.maintainer }}</td>
          </tr>
        {% endif %}

        {% if pkg_dict.version %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("Version") }}</th>
            <td class="dataset-details">{{ pkg_dict.version }}</td>
          </tr>
        {% endif %}

        {% if h.check_access('package_update',{'id':pkg_dict.id}) %}
          <tr>
            <th scope="row" class="dataset-label">{{ _("State") }}</th>
            <td class="dataset-details">{{ _(pkg_dict.state) }}</td>
          </tr>
        {% endif %}
      {% block extras scoped %}
        {% for extra in h.sorted_extras(pkg_dict.extras) %}
          {% set key, value = extra %}
          <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key) }}</th>
            <td class="dataset-details" property="rdf:value">{{ value }}</td>
          </tr>
        {% endfor %}
      {% endblock %}

    {# a.s. new fields #}
    {% if pkg_dict.associated_tasks %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Associated Tasks') }}</th>
          <td class="dataset-details">{{ pkg_dict.associated_tasks }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.collection_period %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Collection Period') }}</th>
          <td class="dataset-details">{{ pkg_dict.collection_period }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.geographical_area %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Geographical Area') }}</th>
          <td class="dataset-details">{{ pkg_dict.geographical_area }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.number_of_instances %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Number of Instances') }}</th>
          <td class="dataset-details">{{ pkg_dict.number_of_instances }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.pkg_description %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Package Description') }}</th>
          <td class="dataset-details">{{ pkg_dict.pkg_description }}</td>
      </tr>
    {% endif %}
    {# a.s. /new fields #}

    {# s.h. additional fields #}
    {% if pkg_dict.number_of_attributes %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Number of Attributes') }}</th>
          <td class="dataset-details">{{ pkg_dict.number_of_attributes }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.creation_date %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Creation Date') }}</th>
          <td class="dataset-details">{{ pkg_dict.creation_date }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.expiry_date %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Expiry Date') }}</th>
          <td class="dataset-details">{{ pkg_dict.expiry_date }}</td>
      </tr>
    {% endif %}

    {% if pkg_dict.has_missing_values != '' %}
      <tr>
        <th scope="row" class="dataset-label">{{ _('Dataset has missing values') }}</th>
          <td class="dataset-details">{{ pkg_dict.has_missing_values }}</td>
      </tr>
    {% endif %}
    {# s.h. /additional fields #}
{% endblock %}