/* a.s. */
.homepage .stats ul li a strong {
  display: block;
  font-size: 36px;
  line-height: 1.5;
}

.homepage.layout-1 .stats {
  margin-top: 20px;
}

.homepage.layout-1 .row1 .col2 {
    /* a.s. move search box to the top on the home page */
    position: static;
    bottom: 0;
    right: 0;
  }
.masthead {
  margin-bottom: initial;
  padding: 10px 0;
  color: #000;
  background: #ffffff url("/base/images/bg.png");
}
.masthead .navigation .nav-pills li a:hover,
.masthead .navigation .nav-pills li a:focus,
.masthead .navigation .nav-pills li.active a {
  background-color: #eaeaea;
}
.masthead .nav>li>a,
.masthead .nav>li>a:focus,
.masthead .nav>li>a:hover,
.masthead .nav>.active>a,
.masthead .nav>.active>a:hover,
.masthead .nav>.active>a:focus {
  color: #133c55;
  text-shadow: none;
}

.control-label-question label:after {
    content: "?";
}