{% ckan_extends %}

{% block breadcrumb_content %}
  <li class="active">{% link_for _('About AVIN'), 'home.about' %}</li>
{% endblock %}

{% block about %}
    {% snippet 'home/snippets/about_text.html' %}
    {% block about_page_link %}
         <div class="row">
            <div class="col-md-12 learn-more">
                <div><a href="https://www.avinhub.ca" title="{{ _('About AVIN Data Catalogue') }}">{{ _("Learn more about AVIN") }}</a></div>
            </div>
         </div>
    {% endblock %}
{% endblock %}
