<div role="main" class="hero">
  <div class="container">
    <div class="row row1">
      <div class="hero-image col-md-12">&nbsp;</div>
      <div class="col-md-8 col-md-offset-2 col-search">
        {% block search %}
          {% snippet 'home/snippets/search.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
<div role="main" class="featured-group">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        {% block featured_group %}
          {% snippet 'home/snippets/featured_group.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>

<div role="main" class="featured-organization">
  <div class="container">
    {% block featured_organization %}
      {% snippet 'home/snippets/featured_organization.html' %}
    {% endblock %}
  </div>
</div>
<div role="main" class="intro-text">
  <div class="container">

        {% block promoted %}
          {% snippet 'home/snippets/promoted.html' %}
        {% endblock %}
      </div>
    </div>
  </div>
</div>
